@charset "utf-8";

/* CSS Document */

header .topnav {
	top: 0px;
}

section {
	width: 100%;
	min-width: 1192px;
	min-height: 950px;
	background-color: #f5f5f5;
	margin-top: -45px;
	padding-top: 1px;
	display: block;
}

.active {
	display: none;
}

.topbar {
	margin: auto;
	width: 1192px;
	height: 63px;
	background-repeat: no-repeat;
}

.topbar ul {
	width: 1082px;
	height: 43px;
	float: right;
	margin-top: 8px;
	border-width: 1px;
	border-color: #e4e4e4;
	border-style: solid;
}

.topbar ul li {
	width: 232px;
	height: 41px;
	margin: 0;
	padding: 0;
	background-image: url(../../img/pc/shopping_cart/topbar_bg2.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
}

.topbar ul li div {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #b2b2b2;
	line-height: 41px;
	background-color: #fff;
	width: 215px;
}

.topbar ul li div span {
	display: inline-block;
	margin-right: 9px;
	font-size: 24px;
	line-height: 24px;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

.topbar ul li#may_cart {
	width: 383px;
	height: 41px;
	margin: 0;
	padding: 0;
	background-image: url(../../img/pc/shopping_cart/topbar_bg1.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}

.topbar ul li#may_cart div {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	line-height: 41px;
	background-color: #c40001;
	width: 367px;
}

.topbar ul li#may_cart div span {
	display: inline-block;
	margin-right: 9px;
	font-size: 24px;
	line-height: 24px;
	height: 24px;
	vertical-align: middle;
}

.topbar ul li#success {
	background-image: none;
	width: 232px;
}

.topbar ul li#success div {
	width: 232px;
}

#content_top {
	margin: auto;
	width: 1192px;
	height: 46px;
	background-color: #FFF;
	margin-top: 20px;
}

#content_top h2 {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	height: 46px;
	line-height: 46px;
	margin: 0;
	padding: 0;
	margin-left: 21px;
}

#content_top p {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	height: 46px;
	line-height: 46px;
	margin-right: 24px;
}

#cart_content {
	width: 1192px;
	overflow: hidden;
	display: block;
	height: 242px;
	margin: auto;
	margin-top: 10px;
	background-color: #FFF;
}

.content_title {
	width: 100%;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #dddddd;
	border-style: solid;
	height: 50px;
	overflow: hidden;
	background-color: #ffffff;
}

.content_title li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	line-height: 50px;
	height: 50px;
	float: left;
	text-align: center;
}

.cart_inform {
	width: 321px;
}

.cart_price {
	width: 281px;
}

.cart_number {
	width: 111px;
}

.cart_total {
	width: 324px;
}

.cart_operation {
	width: 131px;
}

#cart_content div.content_list {
	width: 100%;
	overflow: hidden;
	background-color: #FFF;
	border-width: 0px;
	border-color: #dddddd;
	border-style: solid;
}

#cart_content div.content_list ul.content_listtop {
	width: 100%;
	overflow: hidden;
	background-color: #dddddd;
	height: 39px;
}

#cart_content div.content_list ul li {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #545454;
	line-height: 39px;
	height: 39px;
}

#cart_content div.content_list ul li.order_number {
	width: 226px;
	margin-left: 34px;
}

#cart_content div.content_list ul li.order_time {
	width: 226px;
}

#cart_content div.content_list ul.content_detail {
	width: 100%;
	background-color: #fff;
	height: 128px;
}

#cart_content div.content_list ul.content_detail li.inform_list {
	overflow: hidden;
	display: block;
	height: 100%;
}

#cart_content div.content_list ul.content_detail li.inform_list a {
	display: block;
}

#cart_content div.content_list ul.content_detail li a div.goods_photo {
	width: 90px;
	height: 90px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

#cart_content div.content_list ul.content_detail li a div.goods_detail {
	width: 115px;
	overflow: hidden;
	margin-top: 20px;
	margin-left: 10px;
	height: 90px;
	float: left;
}

#cart_content div.content_list ul.content_detail li a div.goods_detail h2 {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 17px;
	overflow: hidden;
}

#cart_content div.content_list ul.content_detail li a div.goods_detail div {
	width: 108px;
	overflow: hidden;
}

#cart_content div.content_list ul.content_detail li a div.goods_detail div span.kuaizhao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	line-height: 17px;
	height: 17px;
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
}

#cart_content div.content_list ul.content_detail li a div.goods_detail div span.clothcolor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9a9a9a;
	line-height: 18px;
	display: block;
	width: 100%;
	text-align: left;
}

#cart_content div.content_list ul.content_detail li.price_list {
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	margin-top: 20px;
}

#cart_content div.content_list ul.content_detail li.number_list {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	height: 128px;
	line-height: 128px;
}

#cart_content div.content_list ul.content_detail li.number_list button {
	width: 31px;
	height: 31px;
	background-color: none;
	border-width: 1px;
	border-color: #d8d8d8;
	font-family: Arial, Helvetica, sans-serif;
	color: #d8d8d8;
	background-color: #FFF;
	display: block;
	float: left;
	margin-top: 20px;
	outline: none;
	text-shadow: none;
}

#cart_content div.content_list ul.content_detail li.number_list button span {
	vertical-align: middle;
	display: block;
	line-height: 22px;
	height: 24px;
	font-size: 24px;
	width: 100%;
	color: #d8d8d8;
}

#cart_content div.content_list ul.content_detail li.number_list button.leftbtn span {
	vertical-align: top;
	margin-top: 0px;
	font-size: 24px;
	font-family: "黑体";
	font-weight: 700;
}

#cart_content div.content_list ul.content_detail li.number_list input {
	display: block;
	width: 49px;
	height: 31px;
	float: left;
	margin-top: 20px;
	color: #000;
	line-height: 31px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	outline: none;
}

#cart_content div.content_list ul.content_detail li.aftersale_list {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	height: 128px;
	line-height: 128px;
}

#cart_content div.content_list ul.content_detail li.total_list {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	height: 128px;
	border-width: 0;
	border-style: solid;
	border-color: #dddddd;
}

#cart_content div.content_list ul.content_detail li.total_list p {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 20px;
	color: #c40001;
	vertical-align: middle;
}

#cart_content div.content_list ul.content_detail li.state_list {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	height: 128px;
	padding-top: 46px;
	border-width: 0;
	border-left-width: 1px;
	border-style: solid;
	border-color: #dddddd;
}

#cart_content div.content_list ul.content_detail li.state_list p {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	vertical-align: middle;
}

#cart_content div.content_list ul.content_detail li.state_list p a:hover {
	color: #F00;
}

#cart_content div.content_list ul.content_detail li.operation_list {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	height: 128px;
	padding-top: 10px;
	border-width: 0;
	border-style: solid;
	border-color: #dddddd;
}

#cart_content div.content_list ul.content_detail li.operation_list h3 {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	vertical-align: middle;
	background-color: #c40001;
	margin-bottom: 6px;
}

#cart_content div.content_list ul.content_detail li.operation_list h3 a {
	color: #FFF;
	display: block;
}

#cart_content div.content_list ul.content_detail li.operation_list p {
	width: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	vertical-align: middle;
	cursor: pointer;
}

#content_bottom {
	width: 1192px;
	overflow: hidden;
	margin: auto;
	margin-top: 20px;
	height: 56px;
}

#content_bottom p.shiyong_hb {
	width: 133px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #c40001;
	padding: 0;
	margin: 0;
	margin-left: 0px;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #c40001;
	cursor: pointer;
	float: left;
}

#content_bottom .hb_dikou {
	float: right;
	width: 122px;
	height: 56px;
	margin-top: 43px;
	overflow: hidden;
}

#content_bottom .hb_dikou h4 {
	margin: 0;
	padding: 0;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	height: 14px;
	line-height: 14px;
	float: left;
}

#content_bottom .hb_dikou p {
	float: left;
	margin: 0;
	margin-left: 5px;
	padding: 0;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	height: 14px;
	line-height: 14px;
}

#content_bottom .zongji {
	float: right;
	width: 122px;
	height: 56px;
	margin-top: 42px;
	overflow: hidden;
}

#content_bottom .zongji h4 {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	height: 14px;
	line-height: 14px;
	float: left;
}

#content_bottom .zongji p {
	float: left;
	margin: 0;
	margin-left: 5px;
	padding: 0;
	vertical-align: bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	height: 14px;
	line-height: 14px;
}

#content_bottom .zongjin_e {
	height: 16px;
	line-height: 16px;
	float: right;
	display: block;
	margin-top: 41px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #c40001;
	margin-right: 22px;
	vertical-align: bottom;
}

#content_bottom .jiesuan_btn {
	width: 191px;
	height: 56px;
	border: none;
	background-color: #c40001;
	font-family: "微软雅黑";
	font-size: 22px;
	color: #FFF;
	line-height: 56px;
	float: right;
	text-align: center;
	padding: 0;
	display: block;
	vertical-align: top;
}
.active{
	display: none;
}

#empty_chart {
	margin: auto;
	width: 1192px;
	height: 300px;
	background-color: #FFF;
	margin-top: 20px;
	border-width: 1px;
	border-color: #fff;
	border-style: solid;
}

#empty_chart div.kong_chart {
	width: 323px;
	margin: auto;
	margin-top: 53px;
	overflow: hidden;
}

#empty_chart div.kong_chart img {
	
	float: left;
}

#empty_chart div.kong_chart div {
	float: right;
	width: 167px;
	overflow: hidden;
}

#empty_chart div.kong_chart div h3 {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 500;
	color: #000;
	line-height: 20px;
	height: 20px;
	margin-bottom: 13px;
}

#empty_chart div.kong_chart div p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 12px;
	height: 12px;
	margin-bottom: 13px;
}

#empty_chart div.kong_chart div span {
	display: block;
	width: 109px;
	height: 36px;
	border-radius: 4px;
	background-color: #cb0506;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #FFF;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}

#recommend {
	margin: auto;
	width: 1192px;
	height: 460px;
	background-color: #FFF;
	margin-top: 20px;
}

#recommend div.recommend_top {
	width: 100%;
	overflow: hidden;
}

#recommend div.recommend_top h2 {
	margin: 0;
	padding: 0;
	height: 53px;
	line-height: 53px;
	margin-left: 20px;
	margin-right: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	float: left;
}

#recommend div.recommend_top img {
	margin-top: 10px;
	display: block;
}

#recommend div.recommend_top ul {
	margin: 0;
	padding: 0;
	width: 41px;
	overflow: hidden;
	float: right;
	margin-right: 20px;
	margin-top: -10px;
}

#recommend div.recommend_top ul li {
	width: 17px;
	height: 19px;
}

#recommend div.recommend_top ul li.rec_leftbtn {
	float: left;
	background-image: url(../../img/pc/shopping_cart/rec_leftbtn2.jpg);
	background-repeat: no-repeat;
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#recommend div.recommend_top ul li.rec_rightbtn {
	float: right;
	background-image: url(../../img/pc/shopping_cart/rec_rightbtn1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#recommend .rec {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 405px;
	background-color: #f4f4f4;
}

#recommend .rec ul#rec_list {
	position: absolute;
	width: 2384px;
	overflow: hidden;
	top: 0;
	left: 0;
	display: block;
	z-index: 2;
}

#recommend .rec ul#rec_list li {
	float: left;
	width: 232px;
	overflow: hidden;
	display: block;
	margin-right: 8px;
}

#recommend .rec ul#rec_list li a {
	display: block;
	width: 232px;
	height: 307px;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#recommend .rec ul#rec_list li a span.rec_slide {
	position: absolute;
	width: 232px;
	height: 38px;
	bottom: 0px;
	left: 0px;
	opacity: 0.7;
	background-color: #060611;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	border-width: 0;
	display: none;
}

#recommend .rec ul#rec_list li span.rec_name {
	width: 201px;
	display: block;
	height: 38px;
	line-height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: hidden;
	color: #666666;
	margin-top: 13px;
	margin-left: 15px;
}

#recommend .rec ul#rec_list li div {
	width: 232px;
	overflow: hidden;
	margin-top: 10px;
}

#recommend .rec ul#rec_list li div i {
	height: 25px;
	line-height: 25px;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #c40001;
	font-style: normal;
	margin-left: 15px;
}

#recommend .rec ul#rec_list li div i span {
	font-size: 14px;
	margin-top: 0;
	display: inline-block;
	line-height: 25px;
	height: 25px;
	vertical-align: middle;
}

#recommend .rec ul#rec_list li div p {
	margin: 0;
	padding: 0;
	float: right;
	width: 68px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	background-color: #c40001;
	margin-right: 20px;
	margin-bottom: 16px;
	cursor: pointer;
}
